In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
with open('tweets.2022-10-08.part2.csv', 'r') as file:
    data = file.readlines()

In [3]:
data[0]

'{"attachments": {}, "author_id": "1278422020057903105", "created_at": "2022-10-09T03:11:42.000Z", "edit_history_tweet_ids": ["1578946277676498944"], "entities": {"mentions": [{"start": 3, "end": 14, "username": "Think1nine", "id": "1131862675573682177"}]}, "geo": {}, "id": "1578946277676498944", "referenced_tweets": [{"type": "retweeted", "id": "1578450786660495360"}], "text": "RT @Think1nine: What are you not telling us? https://t.co/6xNhXQFsHe"}\n'

In [4]:
# some tweets do not have all of the features, this should give us the full set of what tweets could contain
tweet_features = set()

for d in data:
    jsn = json.loads(d)
    for f in jsn.keys(): 
        tweet_features.add(f)

tweet_features, len(tweet_features)

({'attachments',
  'author_id',
  'created_at',
  'edit_history_tweet_ids',
  'entities',
  'geo',
  'id',
  'in_reply_to_user_id',
  'referenced_tweets',
  'text',
  'withheld'},
 11)

In [5]:
len(data)

129046

In [6]:
# small_data = data[:5]

In [11]:
def create_df(tweet_features, data):
    dfs = []
    for d in data:
        with_all_features = {}
        jsn = json.loads(d)

        for f in tweet_features:
            try:
                with_all_features[f] = str(jsn[f]) # had to use strings as values 
            except:
                with_all_features[f] = 'None'

        with_all_features = pd.DataFrame(with_all_features, index = [0])
        dfs.append(with_all_features)

    df = pd.concat(dfs, sort = False).reset_index()
    df = df.drop(['index'], axis = 1)
    
    return df

In [12]:
# df_small = create_df(tweet_features, small_data)

In [13]:
# df_small

In [17]:
%%time
df = create_df(tweet_features, data)

CPU times: user 48 s, sys: 587 ms, total: 48.6 s
Wall time: 48.3 s

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129046 entries, 0 to 129045
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      129046 non-null  object
 1   author_id               129046 non-null  object
 2   referenced_tweets       129046 non-null  object
 3   edit_history_tweet_ids  129046 non-null  object
 4   text                    129046 non-null  object
 5   withheld                129046 non-null  object
 6   attachments             129046 non-null  object
 7   geo                     129046 non-null  object
 8   in_reply_to_user_id     129046 non-null  object
 9   created_at              129046 non-null  object
 10  entities                129046 non-null  object
dtypes: object(11)
memory usage: 10.8+ MB

In [19]:
df.head()

,id,author_id,referenced_tweets,edit_history_tweet_ids,text,withheld,attachments,geo,in_reply_to_user_id,created_at,entities
0,1578946277676498944,1278422020057903105,"[{'type': 'retweeted', 'id': '1578450786660495...",['1578946277676498944'],RT @Think1nine: What are you not telling us? h...,None,{},{},None,2022-10-09T03:11:42.000Z,"{'mentions': [{'start': 3, 'end': 14, 'usernam..."
1,1578946277672644608,1093709220342419456,"[{'type': 'retweeted', 'id': '1578627916761829...",['1578946277672644608'],RT @TarotYouuuu: กูไหว้ล่ะ อย่าหาทำแบบนี้เลยนะ...,None,{},{},None,2022-10-09T03:11:42.000Z,"{'mentions': [{'start': 3, 'end': 15, 'usernam..."
2,1578946277701611525,1174143917639503874,"[{'type': 'retweeted', 'id': '1578903609915641...",['1578946277701611525'],RT @iAmSirOrDaddy: The sound of a BBC $lut bei...,None,{},{},None,2022-10-09T03:11:42.000Z,"{'mentions': [{'start': 3, 'end': 17, 'usernam..."
3,1578946277689413632,1528619498051608576,None,['1578946277689413632'],ルークさん復帰？嘘やん！,None,{},{},None,2022-10-09T03:11:42.000Z,{}
4,1578946277697781761,761006499107737600,None,['1578946277697781761'],チャレライ報酬ストーリー解禁重視にしている https://t.co/awdRNyFlBY,None,{},{},None,2022-10-09T03:11:42.000Z,{}