In [1]:
import pandas as pd
import numpy as np
import json
import tweepy

In [2]:
import config

In [3]:
# training df of tweet ids and labels 
df = pd.read_csv('https://raw.githubusercontent.com/Cameron-Grams/Team-HIT-workspace/main/hurricane/website_all_labeled_2016_17_hurricanes.csv'),
df = df[0]
df.shape

(27443, 3)

In [4]:
df_train = df.copy()

In [5]:
# to avoid scientific notation 
# df_train['string_ids'] = df['tweet_id'].astype('string')

In [6]:
# list of ids to collect text, author id and created at date
tweet_ids = list(df_train['tweet_id'].astype('string'))

## Tweepy Client

In [7]:
bearer = config.Bearer_Token

In [8]:
client = tweepy.Client(bearer_token=bearer, wait_on_rate_limit=True)

## Get the Text

In [9]:
def retrieve_text(index_list):
    list_of_tweets = []
    try:
        tweets = client.get_tweets(ids = index_list, tweet_fields = ["author_id", "created_at"])
        for tweet in tweets.data:
            current_tweet = {
                'tweet_id': tweet.id,
                'text': tweet.text,
                'author_id': tweet.author_id,
                'created_at': tweet.created_at
            }
            current_df = pd.DataFrame([current_tweet])
            list_of_tweets.append(current_df)
        df = pd.concat(list_of_tweets)
        return df

    except Error as e:
        print("Error:", e)
        return False

In [10]:
def collect_tweet_dfs(index_list, start_twt):
    end_twt = start_twt + 100

    tweet_dfs = []

    working = True

    while working: 
        try:
            batch = index_list[start_twt: end_twt]
            df =  retrieve_text(batch)
            tweet_dfs.append(df)
            start_twt += 100
            end_twt += 100

        except Exception as e:
            working = False
            print(end_twt)
            print(e)
                 
    
    total_dfs = pd.concat(tweet_dfs)
    return end_twt, total_dfs

In [11]:
df.head(3)

,tweet_id,tweet_text,class_label
0,914134332226330625,San Juan: Trump lashes out with good reason. #...,other_relevant_information
1,910783670134476800,Hurricane Maria Live Updates: Catastrophic Flo...,caution_and_advice
2,912134938727780355,"Getting food to the island is, obviously, crit...",rescue_volunteering_or_donation_effort

In [12]:
# tweet_index = df['tweet_id']
# iteration = 1
# df_ = pd.DataFrame()
# idx = 0

In [13]:
# while idx < df.shape[0]:
#     print("Starting iteration: ", iteration)
#     try:
#         end_idx, df_w = collect_tweet_dfs(tweet_index, idx)
#         df_ = pd.concat([df_, df_w])
#         time.sleep(1)
#     except Exception as e:
#         idx = end_idx
#         time.sleep(910)
#         iteration += 1

In [14]:
# df_.shape

In [15]:
%%time
df_text = collect_tweet_dfs(tweet_ids, 0)

27600
name 'Error' is not defined
CPU times: user 17.1 s, sys: 49.2 ms, total: 17.2 s
Wall time: 2min 4s

In [16]:
df_text[1].head()

,tweet_id,text,author_id,created_at
0,910783670134476800,"""Hurricane Maria Live Updates: Catastrophic Fl...",627954585,2017-09-21 08:32:03+00:00
0,912134938727780355,"Getting food to the island is, obviously, crit...",543450752,2017-09-25 02:01:30+00:00
0,910669838842056704,My heart breaks for the families in Puerto Ric...,3181770608,2017-09-21 00:59:43+00:00
0,912287091026997248,"RT @dreynders: #B-FAST sending medical, recons...",3730165402,2017-09-25 12:06:06+00:00
0,914175720968028161,@alan5422 @nytimes U.S. boots have been on the...,241033134,2017-09-30 17:10:51+00:00

In [17]:
df_text

(27600,
               tweet_id                                               text  \
 0   910783670134476800  "Hurricane Maria Live Updates: Catastrophic Fl...
 0   912134938727780355  Getting food to the island is, obviously, crit...
 0   910669838842056704  My heart breaks for the families in Puerto Ric...
 0   912287091026997248  RT @dreynders: #B-FAST sending medical, recons...
 0   914175720968028161  @alan5422 @nytimes U.S. boots have been on the...
 ..                 ...                                                ...
 0   783391937004838921  That's scary!!! 🙏🏻 praying for everyone's safe...
 0   783870371887853568  RT @AlishaLaventure: The damage in #Haiti is h...
 0   783699222402957317  REPORTS: Hurricane Matthew kills at least 10 w...
 0   783399699994648576  Hurricane-hit southern Haiti cut off after bri...
 0   783885207514394624  Retweeted Al Jazeera News (@AJENews):\n\nSome ...

      author_id                created_at
 0    627954585 2017-09-21 08:32:03+00:00
 0    543450752 2017-09-25 02:01:30+00:00
 0   3181770608 2017-09-21 00:59:43+00:00
 0   3730165402 2017-09-25 12:06:06+00:00
 0    241033134 2017-09-30 17:10:51+00:00
 ..         ...                       ...
 0     45278113 2016-10-04 19:42:47+00:00
 0    338774541 2016-10-06 03:23:54+00:00
 0    345161879 2016-10-05 16:03:49+00:00
 0    119807651 2016-10-04 20:13:37+00:00
 0    252147867 2016-10-06 04:22:52+00:00

 [18663 rows x 4 columns])

In [18]:
# df_text.shape

In [19]:
# df_text.to_csv('up_to_9400.csv')

In [20]:
# %%time
# df_text_2 = collect_tweet_dfs(tweet_ids, 9400)

In [21]:
# last index number 39500
# df_text_2.to_csv('from_9400_to_39500.csv')

In [22]:
# df_text_2.shape

In [23]:
# %%time
# df_text_3 = collect_tweet_dfs(tweet_ids, 39500)

In [24]:
# df_text_3.shape

In [25]:
# df_text_3.to_csv('from_39500_to_53700.csv')

## Combine the text DataFrames

In [26]:
# df1 = pd.read_csv('up_to_9400.csv')
# df2 = pd.read_csv('from_9400_to_39500.csv')
# df3 = pd.read_csv('from_39500_to_53700.csv')

In [27]:
# df_all = pd.concat([df1, df2, df3])
# df_all.shape

In [28]:
# df_main = df_train.merge(df_all, on = 'tweet_id', how = 'outer')
# df_main.shape

In [29]:
# # full collection of labels and text
# df_main = df_main.drop('Unnamed: 0', axis = 1)
# df_main.head()

In [30]:
# df_main.to_csv('all_tweets_with_nan.csv')

In [31]:
# from merges of text df = 37469
# from original df = 53531

In [32]:
# df_final = df_main.dropna()
# df_final.shape

In [33]:
#df_final.head()

In [34]:
# df_final.to_csv('all_tweets_no_nan.csv')

In [35]:
# # maximum and minimum of tweet text lengths
# list_text = list(df_final['text'])
# tweet_lengths = [ len(x) for x in list_text]
# max(tweet_lengths), min(tweet_lengths)